.ResetPageBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-image: url('../../Asset/Reset_Password.svg');
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100vh;
    
}
 #ResetPagesideBar{
    width: 35%;
    background-color: black;

    height: 85%;

    border-radius: 20px;
}

.resetlogoSection{
    width: 100%;
    height: 23%;
    margin-bottom: 20px;
    /* background-color: red; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.resetlogoSection > img {
    width: 80px;
    height: 80px;

    margin-top: 40px;
    margin-bottom: 30px;
}


.resetlogoSection > .resetSiteName {
    color: #FFFFFF;
    font-size: 40px;
    line-height: 45px;

    font-weight: 700;

    font-family: 'Baloo Tamma 2', sans-serif;

    margin-left: 25px;
}

.resetInputSection{
    width: 100%;
    height: 70%;

    /* background-color: wheat; */

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#resetLoginForm{
    display: flex;
    flex-direction: column;
}

form {
    width: 80%;
    margin-top: 45px;
    /* background-color: red; */
}

#resetSignTXT{
    color: #04D5E3;
    font-size: 28px;
    font-weight: 700;
}

/* //////////////////////////////////  Email Input Field   ///////////////////////////// */

#resetLoginForm input {
    height: 94%;
    background-color: transparent;
    border: none;
    padding-left: 25px;
} 

#resetLoginForm input::placeholder {
   color: #ABAAAA;
} 

form > button {
    margin-top: 45px;

    height: 75px;

    width: 95%;
    align-self: center;

    border-radius: 20px;
    background-color: #8FF0F6;

    font-size: 20px;
    font-weight: 700;

    cursor: pointer;
}

form > button:active{
    background-color: #307378;
}



#resetGoBackPage{
    color: #04D5E3;
    cursor: pointer;

    margin-top: 15px;
    margin-left: 20px;
}


.notValidEmail{
    color: red;
    line-height: 0px;
    margin-left: 20px;

    margin-bottom: 0.8px;
    margin-left: 30px;
}

.validEmail{
    display: none;
}


div.resetPasswordInputField{

    margin-top: 20px;

    background-color: rgba(228, 252, 255, 0.24);

    width: 95%;
    height: 65px;

    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;

    border-radius: 25px;
}

.pswrd{
    width: 100%;
    color: #ffffff;
    font-size: 23px;
    font-weight: 500;
    border-radius: 25px;

    padding-right: 60px;
}


i {
    color: #8FF0F6;

    position: absolute;
    right: 0;
    width: 13%;

    font-size: 25px;
}


.resetPswrNotdMatch{
    color: red;
    line-height: 0px;
    margin-left: 20px;

    margin-bottom: -14.8px;
    margin-left: 30px;
}

.resetPswrdMatch{
    display: none;
}

input[type="password"]::-ms-reveal {
    display: none !important;
}